.sideBar{
    width: 400px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: -100%;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    transition: all 0.4s ease;
}


.open {
    right: 0;
  }

@media (max-width:400px){
    .sideBar{
        width: 300px;
    }
}